.news {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.news .container {
    background-color: #F9F9FB;
}

.news a {
    text-decoration: none;
    color: black;
}

.news p {
    color: black;
}

.news .card {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.news .see-all {
    cursor: pointer;
    border-radius: 5px;
    height: 30px;
    background-color: #E5E6ED;
    margin: 1rem 0 1rem 0;
}

.news .see-all:hover {
    opacity: 0.8;
}